<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546913835608-ibt7furkkbmn4d80lstf3b9aekfovipj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546913835608-ibt7furkkbmn4d80lstf3b9aekfovipj</string>
	<key>API_KEY</key>
	<string>AIzaSyC632SVomy9B8UPFm75Mostv-Tg6tYMYRc</string>
	<key>GCM_SENDER_ID</key>
	<string>546913835608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.susatthi.flutterfireSample.dev</string>
	<key>PROJECT_ID</key>
	<string>flutterfire-sample1-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfire-sample1-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546913835608:ios:6945e84a15d7d2cd87c82d</string>
</dict>
</plist>